<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{layout :: header-layout}"></header>
    <main>
        <div class="home">
            <div class="slider">
                <img th:src="@{/resources/images/LandingPage1.JPG}" class="active" alt="Landing Page Image">
                <img th:src="@{/resources/images/LandingPage2.JPG}" alt="Landing Page Image">
                <img th:src="@{/resources/images/LandingPage3.JPG}" alt="Landing Page Image">
            </div>
            <div class="buttons">
                <button onclick="prevSlide()">&#10094;</button>
                <button onclick="nextSlide()">&#10095;</button>
            </div>
        </div>
        <div class="product">
            <span>
                Our Product
            </span>
            <form class="filter" method="get" th:action="@{/home/index}">
                <span class="search-filter">
                    <i class="fas fa-sliders-h"></i>
                    <span>
                    Search
                    </span>
                </span>

                <div class="info-item">
                    <input type="text" name="productName" placeholder="Find Your Dream Bag" th:value="${productName}">
                </div>
                <div class="button-end">
                    <button type="submit" class="green-button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <div class="card-container">
                <div th:each="product : ${products}" class="card">
                    <div class="card-image">
                        <img th:src="@{${product.productImagePath}}" th:alt="${product.productName}">
                    </div>
                    <span class="product-title" th:text="${product.productName}">Product Name</span>
                    <span class="product-price" th:text="'Rp. ' + ${#numbers.formatDecimal(product.productPrice, 0, 'POINT', 0, 'COMMA')}">Rp. 0</span>
                    <span class="link">
                        <a th:href="@{'/products/' + ${product.id}}">Link</a>
                    </span>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{layout :: footer-layout}"></footer>
</div>
</body>
<script>
    document.querySelector('.search-filter').addEventListener('click', function() {
        document.querySelector('.filter').classList.toggle('show-elements');
        document.querySelector('.button-end').classList.toggle('button-end--opened');
    });

    let currentSlide = 0;
    let slideInterval;

    function showSlide(index) {
        const slides = document.querySelectorAll('.slider img');
        if (index >= slides.length) {
            currentSlide = 0;
        } else if (index < 0) {
            currentSlide = slides.length - 1;
        } else {
            currentSlide = index;
        }
        slides.forEach((slide, i) => {
            slide.classList.remove('active');
            if (i === currentSlide) {
                slide.classList.add('active');
            }
        });
    }

    function nextSlide() {
        showSlide(currentSlide + 1);
    }

    function prevSlide() {
        showSlide(currentSlide - 1);
    }

    function startSlideShow() {
        slideInterval = setInterval(nextSlide, 3000); // Change image every 3 seconds
    }

    function stopSlideShow() {
        clearInterval(slideInterval);
    }

    document.querySelector('.buttons button:first-of-type').addEventListener('click', () => {
        stopSlideShow();
        prevSlide();
        startSlideShow();
    });

    document.querySelector('.buttons button:last-of-type').addEventListener('click', () => {
        stopSlideShow();
        nextSlide();
        startSlideShow();
    });

    startSlideShow();
</script>
</html>
